* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */

[class*="col-"] {
  height: 100%;
  /* border: 1px solid black; */
}

/* sezione header */


header > .container-fluid > .row {
  height: 50px;
  background-color: #2c3e50;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-brand {
  padding-left: 50px;
  color: white;
}

header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-nav>li>a:hover {
  color: lightgrey;
}

header .navbar-nav {
  padding-right: 50px;
}

header .navbar-default .navbar-nav>li>a {
  color: white;
}

header .navbar-default .navbar-toggle {
  border-color: white;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/* sezione jumbo */

#jumbo .row {
  height: 450px;
  background-color: #1abc9c;
  color: white;
}

#jumbo img {
  width: 200px;
  padding-top: 20px;
}

#jumbo .divider-star {
  height: 0;
  margin: 40px 0;
}

#jumbo .divider-star .col-xs-2.line {
  border-bottom: 3px solid white;
}

.divider-star .col-xs-2 i {
  font-size: 20px;
  position: relative;
  bottom: 10px;
}

/* sezione portfolio */

#portfolio .divider-star {
  height: 0;
  margin: 40px 0;
}

#portfolio .divider-star .col-xs-2.line {
  border-bottom: 3px solid #2c3e50;
}

.portfolio-h {
  height: 150px;
}

.portfolio-img {
  height: 300px;

}

.padding-img {
  padding: 10px;
  border: none;
}

.portfolio-img img {
  height: 95%;
  border-radius: 10px;
}

/* sezione about */

#about .row {
  background-color: #1abc9c;
  color: white;
  padding: 20px 0;
}

#about .row .title {
  height: 40%;
}

#about .divider-star {
  height: 0;
  margin: 40px 0;
}

#about .divider-star .col-xs-2.line {
  border-bottom: 3px solid white;
}

#about .about-text {
  height: 60%;
  margin-bottom: 20px;
  padding: 0 30px;
}

#about button {
  color: white;
  background-color: #1abc9c;
  border: 1px solid white;
}

/* sezione contact-me */

#contact-me .form-group input,
#contact-me .form-group textarea {
  border: none;
  border-bottom: solid 1px #ccc;
  box-shadow: none;
}

#contact-me .form-group ::placeholder {
  color: #2c3e50;
}

#contact-me .btn-default {
  color: white;
  background-color: #1abc9c;
}

#contact-me .divider-star {
  height: 0;
  margin: 40px 0;
}

#contact-me .divider-star .col-xs-2.line {
  border-bottom: 3px solid #2c3e50;
}

/* sezione footer */

footer {
  color: white;
}

.footer-up {
  height: 70%;
  background-color: #3a546d;
  padding: 30px 0;
}

.footer-up .row:first-child {
  padding-left: 60px;
}

.footer-up .row:last-child {
  padding-right: 60px;
}

.footer-up .row div {
  margin-bottom: 30px;
}

.footer-up .icons span a {
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 100%;
  padding: 20px;
  width: 60px;
  height: 60px;
}

.footer-up .icons span i {
  font-size: 20px;
}

.footer-up .row span .green a{
  color: #1db297;
}

.footer-down {
  height: 30%;
  background-color: #2c3e50;
  padding: 30px;
}




section {
  /* padding: 0 10%; */
  margin-bottom: 40px;
}
